<a href="https://colab.research.google.com/github/giulianoojeda/ChatGPTClone/blob/main/Sprint_1_ML_Developer_Career_Python_Warm_up.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Solve with Python

Using pure Python code and standard libraries only, try to code algorithms that can analyze the provided dataset and answer the following questions:

In [4]:
!gdown 1UOF-7R5MHXTQcCPp7rPMZTFZZSCmKzko

Downloading...
From: https://drive.google.com/uc?id=1UOF-7R5MHXTQcCPp7rPMZTFZZSCmKzko
To: /content/registered-names-1922-2015.csv
100% 221M/221M [00:04<00:00, 54.1MB/s]

Let's take a peak of the **data**

In [5]:
import csv
from collections import defaultdict


def print_head(filename, lines=10):
  with open(filename, 'r') as f:
    csv_reader = csv.reader(f)
    for i, row in enumerate(csv_reader):
      print(row)
      if i == lines - 1:
        break

print_head('registered-names-1922-2015.csv')

['name', 'count', 'year']
['Maria', '314', '1922']
['Rosa', '203', '1922']
['Jose', '163', '1922']
['Maria Luisa', '127', '1922']
['Carmen', '117', '1922']
['Ana', '113', '1922']
['Maria Elena', '112', '1922']
['Juana', '111', '1922']
['Maria Esther', '109', '1922']

How many people were registered each year?

In [20]:
def people_registered(filename):
  count = defaultdict(int)
  with open(filename, 'r') as f:
    csv_reader = csv.DictReader(f)
    for row in csv_reader:
      count[row['year']] += int(row['count'])
  return count
  
print(people_registered('registered-names-1922-2015.csv'))

defaultdict(<class 'int'>, {'1922': 23667, '1923': 30289, '1924': 39075, '1925': 48328, '1926': 58350, '1927': 71182, '1928': 85659, '1929': 98792, '1930': 115965, '1931': 126450, '1932': 142855, '1933': 150008, '1934': 162662, '1935': 183562, '1936': 195782, '1937': 211501, '1938': 231419, '1939': 254843, '1940': 283184, '1941': 295764, '1942': 295416, '1943': 344322, '1944': 372214, '1945': 404769, '1946': 416282, '1947': 438577, '1948': 464794, '1949': 476270, '1950': 505873, '1951': 499066, '1952': 503985, '1953': 517644, '1954': 527342, '1955': 540534, '1956': 555714, '1957': 559624, '1958': 563382, '1959': 571394, '1960': 583053, '1961': 596696, '1962': 622130, '1963': 620341, '1964': 626002, '1965': 632594, '1966': 627229, '1967': 639428, '1968': 651192, '1969': 682153, '1970': 716628, '1971': 758152, '1972': 774379, '1973': 789091, '1974': 829883, '1975': 886937, '1976': 895615, '1977': 955405, '1978': 979938, '1979': 1019994, '1980': 961606, '1981': 1020591, '1982': 1036620, '1983': 993079, '1984': 1010882, '1985': 1056682, '1986': 1101961, '1987': 1097908, '1988': 1118740, '1989': 1116945, '1990': 1167924, '1991': 1245813, '1992': 1257479, '1993': 1351210, '1994': 1327782, '1995': 1228279, '1996': 1132763, '1997': 938137, '1998': 951784, '1999': 867112, '2000': 843525, '2001': 791107, '2002': 747118, '2003': 806142, '2004': 831336, '2005': 784934, '2006': 750246, '2007': 707364, '2008': 696160, '2009': 583182, '2010': 546042, '2011': 450370, '2012': 950740, '2013': 900028, '2014': 881267, '2015': 793166})

What is the largest name in the dataset?

In [19]:
def largest_name(filename):
  largest = ''
  with open(filename, 'r') as f:
    csv_reader = csv.DictReader(f)
    for row in csv_reader:
      name = row['name'].lower().replace(" ", "")
      if len(name) > len(largest):
        largest = name
  return largest

print(largest_name('registered-names-1922-2015.csv'))

'robertocarlos(antesdecumplimentarhablarconaugustoborjacdr-jujuy0388-4310036)'

What is the shortest name in the dataset?

In [22]:
def shortest_name(filename):
  shortest_name = None
  with open(filename, 'r') as f:
    csv_reader = csv.DictReader(f)
    for row in csv_reader:
      name = row['name'].lower().replace(" ", "")
      if (shortest_name is None or len(name) < len(shortest_name)) and (name != ''):
        shortest_name = name
  return shortest_name

print(shortest_name('registered-names-1922-2015.csv'))

p

Is there a name in a database that is a Palindrome? See definition.

In [24]:
def palindrome_names(filename):
  palindromes = set()
  with open(filename, 'r') as f:
    csv_reader = csv.DictReader(f)
    for row in csv_reader:
      name = row['name'].lower().replace(" ", "")
      if name != '' and name == name[::-1]:
        palindromes.add(name)
  return palindromes

print(palindrome_names('registered-names-1922-2015.csv'))

{'ipi', 'sabas', 'p', 'kok', 'neliamailen', 'nelyaylen', 'ama', 'ikki', 'yvy', 'anna', 'xx', 'oro', 'aviva', 'rrrrr', 'lexel', 'nennen', 'mianaim', 'talat', 'iarasarai', 'luzazul', 'aijia', 'ara', 'ddd', ',', 'yanay', 'nauan', 'ibi', 'nalan', 'ireneneri', 'aimemia', 'awa', 'ana', 'maram', 'neven', 'zulemaameluz', 'ebe', 'savas', 'oddo', 'ramonomar', 'reinier', 'naillian', 'siriairis', 'iaraarai', 'odo', 'ii', 'newen', 'nurun', 'xxxx', 'pylyp', '11111111111', 'afa', 'madam', 'nizin', 'leayael', 'naimian', 'leiramariel', 'aba', 'oto', 'aidia', 'aimÃ©mia', 'ili', 'savvas', 'enne', 'edde', 'nisin', 'leoyoel', 'ianai', 'mabam', 'noelleon', 'alila', 'hannah', 'otto', 'anaililiana', 'leojoel', 'nivin', 'nimin', 'aimaramia', 'opo', 'itati', 'ada', 'anasusana', 'leonnoel', 'neuquen', 'nairian', 'aia', 'leajael', 'aziza', 'awiwa', 'renewener', 'nayan', 'amma', 'ssss', 'tebet', 'samas', 'moom', 'abba', 'liannail', 'rihananahir', 'silis', 'xxx', 'maiam', 'yamay', 'alla', 'ede', 'aileddelia', 'natan', 'nellen', 'milim', 'elle', 'aidanadia', 'ene', 'najan', 'aletseestela', 'nadan', 'anauana', 'yeney', 'neyen', 'layal', 'tafat', 'anerbrena', 'yenney', 'lawal', 'aaaa', 'airamaria', 'aya', 'ivi', 'neuen', 'maiadaiam', 'neien', 'anuna', 'nitin', 'ece', 'anadana', 'nan', 'aixia', 'e', 'lewel', 'naian', 'isi', 'cauac', 'naijian', 'daad', 'anina', 'emme', 'neliaailen', 'eve', 'ala', 'iafai', 'lil', 'laial', 'bob', 'adda', 'non', 'nannan', 'rever', 'onno', 'asa', '----', 'leaiael', 'afifa', 'isasi', 'idi', 'nissin', 'ava', 'll'}

What is the name with the largest number of people registered?

In [28]:
def largest_number(filename):
  largest_count = 0
  name = ''
  with open(filename, 'r') as f:
    csv_reader = csv.DictReader(f)
    for row in csv_reader:
      count = int(row['count'])
      if largest_count < count:
        largest_count = count
        name = row['name']
  return {'name': name, 'count': largest_count}

print(largest_number('registered-names-1922-2015.csv'))

{'name': 'Leonel Hernan', 'count': 7939}